if SHIELD_BANANASPLIT_LEFT

    config ZMK_KEYBOARD_NAME
        default "bananasplit"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y
endif

if SHIELD_BANANASPLIT_LEFT || SHIELD_BANANASPLIT_RIGHT

    config ZMK_SPLIT
        default y

endif
